[submodule "cimgui"]
	path = cimgui
	url = https://github.com/goatcorp/gc-cimgui.git
[submodule "cimplot"]
	path = cimplot
	url = https://github.com/goatcorp/gc-cimplot.git
[submodule "cimguizmo"]
	path = cimguizmo
	url = https://github.com/goatcorp/gc-cimguizmo.git
